<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven/>

    <!--<mvc:default-servlet-handler/>-->

    <!--<mvc:view-controller path="" view-name=""/>-->
    <!--<mvc:view-controller path="" view-name=""/>-->
    <!--<mvc:view-controller path="" view-name=""/>-->
    <!--<mvc:view-controller path="" view-name=""/>-->
    <!--<mvc:view-controller path="" view-name=""/>-->


    <!-- Set Component Package (Default) -->
    <context:component-scan base-package="org.silkdog.maven.hikoco.*"/>

    <!-- Connection Pool -->
    <bean id="dataSourceOrigin" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://silkdog.cxbplannjbaq.ap-northeast-2.rds.amazonaws.com:3306/hikoco?verifyServerCertificate=false&amp;useSSL=true&amp;serverTimezone=UTC" />
        <property name="user" value="aikocandy"/>
        <property name="password" value="Shemwpdl9"/>
    </bean>

    <!-- log4jdbc -->
    <bean id="dataSource" class="net.sf.log4jdbc.Log4jdbcProxyDataSource">
        <constructor-arg ref="dataSourceOrigin" />
        <property name="logFormatter">
            <bean class="net.sf.log4jdbc.tools.Log4JdbcCustomFormatter">
                <property name="loggingType" value="MULTI_LINE" />
                <!--<property name="margin" value="19" />-->
                <property name="sqlPrefix" value="SQL:::" />
            </bean>
        </property>
    </bean>

    <!-- SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
        <property name="typeAliases">
            <list>
                <value>org.silkdog.maven.hikoco.member.dto.MemberDTO</value>
            </list>
        </property>
        <!--<property name="mapperLocations" value="classpath*:/mybatis/*.xml"/>-->
            <!--<list>-->
                <!--<value>classpath*:/mybatis/*.xml</value>-->
            <!--</list>-->
    </bean>

    <!-- TransactionManager for MyBatis -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <!-- sqlSessionTemplate -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- View Resolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:order="1">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--
        -aikocandy-
        Beans for @Autowired.
        Caution, MyBatis requires different type to jdbcTemplate
    -->
    <bean id="memberDAO" class="org.silkdog.maven.hikoco.member.dao.MemberDAOMybatis">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
    </bean>
    <bean id="TransactionDAO" class="org.silkdog.maven.hikoco.transaction.dao.TransactionDAOImpl">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="CategoryDAO" class="org.silkdog.maven.hikoco.category.dao.CategoryDAOImpl">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="ItemDAO" class="org.silkdog.maven.hikoco.item.dao.ItemDAOImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!-- Set Annotaion-Config; Always be bottom of the xml file -->
    <context:annotation-config />


</beans>