<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO(Interface)를 지정할 것.-->
<mapper namespace="org.silkdog.maven.simpleboard.board.dao.CommentDAO">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="commentVO">
        INSERT INTO simpleboard_comment (id, pw, board_id, detail, writedate, last_edited_date, writeip, last_edited_ip) VALUES
        (
          #{id}, #{pw}, #{boardId}, #{detail}, #{writedate}, #{lastEditedDate}, #{writeip}, #{lastEditedIp}
        )
    </insert>

    <update id="replaceNewline" parameterType="int">
        UPDATE simpleboard_comment SET detail = REPLACE(detail, '\r\n', '<![CDATA[<br />]]>') WHERE id = #{id}
    </update>

    <!-- #{LIMIT, #{PAGINATION} !!!! -->
    <select id="getCommentListByBoardId" parameterType="int" resultType="java.util.HashMap">
        SELECT * FROM simpleboard_comment WHERE board_id = #{boardId} AND visible = 1 ORDER BY no ASC, writedate ASC
    </select>

    <select id="getCommentCountByBoardId" parameterType="int" resultType="int">
        SELECT count(*) FROM simpleboard_comment WHERE board_id = #{boardId} AND visible = 1
    </select>

    <select id="getOneCommentById" parameterType="int" resultType="commentVO">
        SELECT * FROM simpleboard_comment WHERE no = #{dataId}
    </select>

    <update id="updateComment" parameterType="java.util.HashMap">
        UPDATE simpleboard_comment SET detail = #{detail}, last_edited_date = #{lastEditedDate}, last_edited_ip = #{lastEditedIp}
        WHERE no = #{dataId}
    </update>

    <update id="deleteComment" parameterType="int">
        UPDATE simpleboard_comment SET visible = 0,  deleted_date = now() WHERE no = #{dataId}
    </update>
</mapper>

        <!--<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="boardVO">-->
        <!--INSERT INTO simpleboard_board (username, password, category, title, detail, writedate, last_edited_date, writeip, last_edited_ip) VALUES(-->
        <!--#{username},-->
        <!--#{password},-->
        <!--#{category},-->
        <!--#{title},-->
        <!--#{detail},-->
        <!--#{writedate},-->
        <!--#{lastEditedDate},-->
        <!--#{writeip},-->
        <!--#{lastEditedIp}-->
        <!--)-->
        <!--</insert>-->



    <!--<select id="getList" parameterType="java.util.HashMap" resultType="java.util.HashMap">-->
    <!--SELECT id, username, title, writedate FROM simpleboard_board ORDER BY id DESC LIMIT #{PAGINATION}, #{LIMIT}-->
    <!--</select>-->

    <!--<select id="getAllList" resultType="java.util.HashMap">-->
    <!--SELECT id, username, title, writedate FROM simpleboard_board-->
    <!--</select>-->

    <!--<select id="getListByCategory" parameterType="java.util.HashMap" resultType="java.util.HashMap">-->
    <!--SELECT id, username, title, writedate FROM simpleboard_board-->
    <!--WHERE category = #{category}-->
    <!--ORDER BY id DESC LIMIT #{PAGINATION}, #{LIMIT}-->
    <!--</select>-->

    <!--<select id="pageNumByCategory" parameterType="int" resultType="int">-->
    <!--SELECT count(id) FROM simpleboard_board WHERE category = #{category};-->
    <!--</select>-->

    <!--<insert id="doBot" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.HashMap">-->
    <!--INSERT INTO simpleboard_board (username, password, category, title, detail, writedate, last_edited_date, writeip, last_edited_ip) VALUES (-->
    <!--#{username},#{password},#{category}, #{title}, #{detail}, #{writedate}, #{lastEditedDate}, #{writeip}, #{lastEditedIp}-->
    <!--)-->
    <!--</insert>-->

    <!--<select id="detailById" parameterType="int" resultType="boardVO">-->
    <!--SELECT * FROM simpleboard_board WHERE id = #{id}-->
    <!--</select>-->

    <!--<update id="update" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.HashMap">-->
    <!--UPDATE simpleboard_board-->
    <!--SET-->
    <!--username = #{username},-->
    <!--password = #{password},-->
    <!--category = #{category},-->
    <!--title = #{title},-->
    <!--detail = #{detail}-->
    <!--WHERE id = #{id}-->
    <!--</update>-->

    <!--<update id="update" useGeneratedKeys="true" keyProperty="id" parameterType="boardVO">-->
    <!--UPDATE simpleboard_board SET username = #{username}, password = #{password}, category = #{category}, title = #{title}, detail = #{detail} WHERE id = #{id}-->
    <!--</update>-->