<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO(Interface)를 지정할 것.-->
<mapper namespace="org.silkdog.maven.simpleboard.board.dao.SBMemberDAO">
    <insert id="createAccount" useGeneratedKeys="true" keyProperty="id" parameterType="sbMemberVO">
    INSERT INTO simpleboard_member (username, password, nickname, realname, gender, phone, introduction, regdate, reg_ip, last_login_date, last_login_ip) VALUES
    (
      #{username}, #{password}, #{nickname}, #{realname}, #{gender}, #{phone}, #{introduction}, #{regdate}, #{regip}, #{lastLoginDate}, #{lastLoginIp}
    )
    </insert>

    <select id="login" parameterType="java.util.HashMap" resultType="int">
        SELECT count(*) FROM simpleboard_member WHERE username = #{username} AND password = #{password}
    </select>

    <select id="getInfoByUsername" parameterType="String" resultType="sbMemberVO">
        SELECT * FROM simpleboard_member WHERE username = #{username}
    </select>

    <select id="isUsernameExists" parameterType="String" resultType="int">
        SELECT count(*) FROM simpleboard_member WHERE username = #{username}
    </select>

    <select id="isNicknameExists" parameterType="String" resultType="int">
        SELECT count(*) FROM simpleboard_member WHERE nickname = #{nickname}
    </select>

    <select id="isPhoneExists" parameterType="String" resultType="int">
        SELECT count(*) FROM simpleboard_member WHERE phone = #{phone}
    </select>
</mapper>
